#container {
    display: flex;
    justify-content: center;
    
}

* {
    background-color: rgba(68,117,136,1);
    font-family: 'Poppins', sans-serif;
}

main {
       display: flex;
       flex-direction: row;
        justify-content:center;
        
        

}
img {
    height: 200px;
    width: 300px;
    border-radius: 10px 10px 0  0;
}

p{
    background-color: white;
    font-size: 14px;
    margin: 30px;

}
h2 {
    background-color: white;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;

}
.box1 {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.box2 {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.box3 {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}


#image1 {
   filter:  grayscale(100%);
   transition-duration: 1s;
}
#image1:hover {
    filter: none;
    transition-duration: 1s;
    transform: scale(1.1);
}

#image2 {
    filter:  grayscale(100%);
    transition-duration: 1s;
}
#image2:hover {
    filter: none;
    transition-duration: 1s;
    transform: scale(1.1);
}

#image3 {
    filter:  grayscale(100%);
    transition-duration: 1s;
  }
  #image3:hover {
    filter: none;
    transition-duration: 1s;
    transform: scale(1.1);
}